PORT=3000
MONGODB_URI=mongodb://localhost:27017/grocery-website
JWT_SECRET=this-is-a-secret-key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=amishbhatia30@gmail.com
SMTP_PASS=jnznsvprehkcssob
ADMIN_NAME=Admin
ADMIN_EMAIL=amishbhatia30@gmail.com
ADMIN_PASSWORD=Amish@1123
